

@media only screen and (max-width: 768px) {
    .container {
      height: auto;
      padding: 20px;
    }
    form {
      margin: 10px;
    }
    label {
      font-size: 0.9rem;
    }
    input {
      font-size: 0.8rem;
    }
    button {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  